@import '../../../style/variables.less';
.list-product{
  &__container{
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 296px 1fr;
    grid-template-areas:"list-product__container";
  }
  &__block{
    min-height: 1050px;
  }
  &__item{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 16px;
  }
  &__sort{
    &-bar{
      display: flex;
      align-items: center;
      padding: 16px 16px 0 16px;
    }
    &-title{
      font-size: 16px;
      font-weight: 500;
      color: @product-item-name;
    }
  }
}
