//common

@color-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
@color-text: #333;
@color-link: #007bff;
@color-active: #60ba75;
@color-white: #fff;
@color-border: #101011;



//header
@header-color-background: #f8f8f8;
@header-color-border: #ddd;
@header-color-link-hover: darken(@color-link, 10%);

//footer

@footer-color-background: #f1f1f1;
@footer-color-link-hover: darken(@color-link, 10%);


//spin
@circle-size: 10px;
@loading-background-color: #000;
@circle-color: #2650A2;
@circle-color-animation: #B1DDF6;
@animation-duration: 1.1s;

//product item
@product-item-discount-background: #FEECE4;
@product-item-discount-text: #EF2C2C;
@product-item-price: #1A1A1A;
@product-item-price-discount: #8B8B8B;
@product-item-name: #111827;
@product-item-background-in-stock: #F0FDF4FF;
@product-item-color-in-stock: #15803DFF;
@product-item-background-out-stock: #FEF2F2FF;
@product-item-color-out-stock: #B91C1CFF;
@product-item-description: #8B8B8B;
@product-item-border-color: #DFDFDF;
@product-item-box-shadow: #00000026 1.95px 1.95px 2.6px;
@product-background-view-image: rgba(0, 0, 0, 0.4);


//filter
@filter-box-shadow: #00000026 1.95px 1.95px 2.6px;
