@import '../../style/variables.less';
.spin{
  &__loading-box {
    width: 100%;
    padding-top: 20%;
    padding-bottom: 20%;
  }
  &__checked {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


.parent {
  position: relative;
  height: 120px;
  width: 120px;
  margin: auto;
  background-color: @loading-background-color;
  border-radius: 50%;

  .child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    height: 90px;
    width: 10px;

    .circle {
      width: @circle-size;
      height: @circle-size;
      background-color: @circle-color;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      animation: changeColor 300ms ease infinite @animation-duration;

      &:nth-child(1) {
        top: 0;
        left: 0;
      }
      &:nth-child(2) {
        top: 6px;
        left: 19px;
        animation-delay: 100ms;
      }
      &:nth-child(3) {
        top: 19px;
        left: 32px;
        animation-delay: 200ms;
      }
      &:nth-child(4) {
        top: 35px;
        left: 37px;
        animation-delay: 300ms;
      }
      &:nth-child(5) {
        top: 54px;
        left: 32px;
        animation-delay: 400ms;
      }
      &:nth-child(6) {
        top: 67px;
        left: 19px;
        animation-delay: 500ms;
      }
      &:nth-child(7) {
        top: 73px;
        left: 0;
        animation-delay: 600ms;
      }
      &:nth-child(8) {
        top: 67px;
        left: -19px;
        animation-delay: 700ms;
      }
      &:nth-child(9) {
        top: 54px;
        left: -32px;
        animation-delay: 800ms;
      }
      &:nth-child(10) {
        top: 35px;
        left: -37px;
        animation-delay: 900ms;
      }
      &:nth-child(11) {
        top: 19px;
        left: -32px;
        animation-delay: 1000ms;
      }
      &:nth-child(12) {
        top: 6px;
        left: -19px;
        animation-delay: 1100ms;
      }
    }
  }
}

@keyframes changeColor {
  0% {
    background-color: @circle-color;
  }

  50% {
    background-color: #B1DDF6;
  }

  100% {
    background-color: @circle-color;
  }
}
